[:k151 nil
 [:mood nil
  [:hoon nil
   ;bits
   [:can "net.frodwith.jaque.truffle.nodes.jet.CanNodeGen"]
   [:cat "net.frodwith.jaque.truffle.nodes.jet.CatNodeGen"]
   [:con "net.frodwith.jaque.truffle.nodes.jet.ConNodeGen"]
   [:cut "net.frodwith.jaque.truffle.nodes.jet.CutNodeGen"]
   [:dis "net.frodwith.jaque.truffle.nodes.jet.DisNodeGen"]
   [:end "net.frodwith.jaque.truffle.nodes.jet.EndNodeGen"]
   [:lsh "net.frodwith.jaque.truffle.nodes.jet.LshNodeGen"]
   [:rsh "net.frodwith.jaque.truffle.nodes.jet.RshNodeGen"]
   [:met "net.frodwith.jaque.truffle.nodes.jet.MetNodeGen"]
   [:mix "net.frodwith.jaque.truffle.nodes.jet.MixNodeGen"]
   [:rap "net.frodwith.jaque.truffle.nodes.jet.RapNodeGen"]
   [:rep "net.frodwith.jaque.truffle.nodes.jet.RepNodeGen"]
   [:rip "net.frodwith.jaque.truffle.nodes.jet.RipNodeGen"]
   ;math
   [:add "net.frodwith.jaque.truffle.nodes.jet.AddNodeGen"]
   [:bex "net.frodwith.jaque.truffle.nodes.jet.BexNodeGen"]
   [:cap "net.frodwith.jaque.truffle.nodes.jet.CapNodeGen"]
   [:dec "net.frodwith.jaque.truffle.nodes.jet.DecNodeGen"]
   [:div "net.frodwith.jaque.truffle.nodes.jet.DivNodeGen"]
   [:dvr "net.frodwith.jaque.truffle.nodes.jet.DvrNodeGen"]
   [:gte "net.frodwith.jaque.truffle.nodes.jet.GteNodeGen"]
   [:gth "net.frodwith.jaque.truffle.nodes.jet.GthNodeGen"]
   [:lte "net.frodwith.jaque.truffle.nodes.jet.LteNodeGen"]
   [:lth "net.frodwith.jaque.truffle.nodes.jet.LthNodeGen"]
   [:mas "net.frodwith.jaque.truffle.nodes.jet.MasNodeGen"]
   [:mod "net.frodwith.jaque.truffle.nodes.jet.ModNodeGen"]
   [:mul "net.frodwith.jaque.truffle.nodes.jet.MulNodeGen"]
   [:peg "net.frodwith.jaque.truffle.nodes.jet.PegNodeGen"]
   [:sub "net.frodwith.jaque.truffle.nodes.jet.SubNodeGen"]
   ;hash
   [:mug "net.frodwith.jaque.truffle.nodes.jet.MugNodeGen"]
   [:muk "net.frodwith.jaque.truffle.nodes.jet.MukNodeGen"]
   [:shal "net.frodwith.jaque.truffle.nodes.jet.ShalNodeGen"]
   [:shan "net.frodwith.jaque.truffle.nodes.jet.ShanNodeGen"]
   [:shay "net.frodwith.jaque.truffle.nodes.jet.ShayNodeGen"]
   ;order
   [:vor "net.frodwith.jaque.truffle.nodes.jet.VorNodeGen"]
   [:gor "net.frodwith.jaque.truffle.nodes.jet.GorNodeGen"]
   [:dor "net.frodwith.jaque.truffle.nodes.jet.DorNodeGen"]
   ;nock
   [:mink "net.frodwith.jaque.truffle.nodes.jet.MinkNodeGen"]
   [:mule "net.frodwith.jaque.truffle.nodes.jet.MuleNodeGen"]
   ;misc
   [:trip "net.frodwith.jaque.truffle.nodes.jet.TripNodeGen"]
   [:lore "net.frodwith.jaque.truffle.nodes.jet.LoreNodeGen"]
   [:loss "net.frodwith.jaque.truffle.nodes.jet.LossNodeGen"]
   [:jam "net.frodwith.jaque.truffle.nodes.jet.JamNodeGen"]
   [:cue "net.frodwith.jaque.truffle.nodes.jet.CueNodeGen"]

   [:ut {:burn "net.frodwith.jaque.truffle.nodes.jet.ut.BurnNodeGen"}
    [:nest nil
     [:arms {:dext "net.frodwith.jaque.truffle.nodes.jet.ut.NestDextNodeGen"}]]
    [:crop "net.frodwith.jaque.truffle.nodes.jet.ut.CropNodeGen"]
    [:find "net.frodwith.jaque.truffle.nodes.jet.ut.FindNodeGen"]
    [:fond "net.frodwith.jaque.truffle.nodes.jet.ut.FondNodeGen"]
    [:fish "net.frodwith.jaque.truffle.nodes.jet.ut.FishNodeGen"]
    [:fuse "net.frodwith.jaque.truffle.nodes.jet.ut.FuseNodeGen"]
    [:mint "net.frodwith.jaque.truffle.nodes.jet.ut.MintNodeGen"]
    [:mull "net.frodwith.jaque.truffle.nodes.jet.ut.MullNodeGen"]
    [:peek "net.frodwith.jaque.truffle.nodes.jet.ut.PeekNodeGen"]
    [:rest "net.frodwith.jaque.truffle.nodes.jet.ut.RestNodeGen"]]
   [:coed nil
    [:ed nil
     [:puck "net.frodwith.jaque.truffle.nodes.jet.EdPuckNodeGen"]
     [:shar "net.frodwith.jaque.truffle.nodes.jet.EdSharNodeGen"]
     [:sign "net.frodwith.jaque.truffle.nodes.jet.EdSignNodeGen"]
     [:veri "net.frodwith.jaque.truffle.nodes.jet.EdVeriNodeGen"]]]
   [:aesc nil
    [:en "net.frodwith.jaque.truffle.nodes.jet.AescEnNodeGen"]
    [:de "net.frodwith.jaque.truffle.nodes.jet.AescDeNodeGen"]]
   [:arvo nil
    [:aes nil
     [:cbca nil
      [:en "net.frodwith.jaque.truffle.nodes.jet.AesCbcaEnNodeGen"]
      [:de "net.frodwith.jaque.truffle.nodes.jet.AesCbcaDeNodeGen"]]
     [:cbcb nil
      [:en "net.frodwith.jaque.truffle.nodes.jet.AesCbcbEnNodeGen"]
      [:de "net.frodwith.jaque.truffle.nodes.jet.AesCbcbDeNodeGen"]]
     [:cbcc nil
      [:en "net.frodwith.jaque.truffle.nodes.jet.AesCbccEnNodeGen"]
      [:de "net.frodwith.jaque.truffle.nodes.jet.AesCbccDeNodeGen"]]
     [:ecba nil
      [:en "net.frodwith.jaque.truffle.nodes.jet.AesEcbaEnNodeGen"]
      [:de "net.frodwith.jaque.truffle.nodes.jet.AesEcbaDeNodeGen"]]
     [:ecbb nil
      [:en "net.frodwith.jaque.truffle.nodes.jet.AesEcbbEnNodeGen"]
      [:de "net.frodwith.jaque.truffle.nodes.jet.AesEcbbDeNodeGen"]]
     [:ecbc nil
      [:en "net.frodwith.jaque.truffle.nodes.jet.AesEcbcEnNodeGen"]
      [:de "net.frodwith.jaque.truffle.nodes.jet.AesEcbcDeNodeGen"]]]]]]]
