[:k151 nil
 [:mood nil
  [:hoon nil
   ;bits
   ;[:can "net.frodwith.jaque.truffle.jet.CanNodeGen"]
   [:cat "net.frodwith.jaque.truffle.jet.CatNodeGen"]
   [:con "net.frodwith.jaque.truffle.jet.ConNodeGen"]
   [:cut "net.frodwith.jaque.truffle.jet.CutNodeGen"]
   [:dis "net.frodwith.jaque.truffle.jet.DisNodeGen"]
   [:end "net.frodwith.jaque.truffle.jet.EndNodeGen"]
   [:lsh "net.frodwith.jaque.truffle.jet.LshNodeGen"]
   [:rsh "net.frodwith.jaque.truffle.jet.RshNodeGen"]
   [:met "net.frodwith.jaque.truffle.jet.MetNodeGen"]
   [:mix "net.frodwith.jaque.truffle.jet.MixNodeGen"]
   ;[:rap "net.frodwith.jaque.truffle.jet.RapNodeGen"]
   ;[:rep "net.frodwith.jaque.truffle.jet.RepNodeGen"]
   ;[:rip "net.frodwith.jaque.truffle.jet.RipNodeGen"]
   ;math
   [:add "net.frodwith.jaque.truffle.jet.AddNodeGen"]
   [:bex "net.frodwith.jaque.truffle.jet.BexNodeGen"]
   [:cap "net.frodwith.jaque.truffle.jet.CapNodeGen"]
   [:dec "net.frodwith.jaque.truffle.jet.DecNodeGen"]
   [:div "net.frodwith.jaque.truffle.jet.DivNodeGen"]
   [:dvr "net.frodwith.jaque.truffle.jet.DvrNodeGen"]
   [:gte "net.frodwith.jaque.truffle.jet.GteNodeGen"]
   [:gth "net.frodwith.jaque.truffle.jet.GthNodeGen"]
   [:lte "net.frodwith.jaque.truffle.jet.LteNodeGen"]
   [:lth "net.frodwith.jaque.truffle.jet.LthNodeGen"]
   [:mas "net.frodwith.jaque.truffle.jet.MasNodeGen"]
   [:mod "net.frodwith.jaque.truffle.jet.ModNodeGen"]
   [:mul "net.frodwith.jaque.truffle.jet.MulNodeGen"]
   [:peg "net.frodwith.jaque.truffle.jet.PegNodeGen"]
   [:sub "net.frodwith.jaque.truffle.jet.SubNodeGen"]]]]
