{:gates [["main/mood/lib/add" "net.frodwith.jaque.truffle.nodes.jet.AddNodeGen"]
         ["main/mood/lib/bex" "net.frodwith.jaque.truffle.nodes.jet.BexNodeGen"]
         ["main/mood/lib/can" "net.frodwith.jaque.truffle.nodes.jet.CanNodeGen"]
         ["main/mood/lib/cap" "net.frodwith.jaque.truffle.nodes.jet.CapNodeGen"]
         ["main/mood/lib/cat" "net.frodwith.jaque.truffle.nodes.jet.CatNodeGen"]
         ["main/mood/lib/con" "net.frodwith.jaque.truffle.nodes.jet.ConNodeGen"]
         ["main/mood/lib/cut" "net.frodwith.jaque.truffle.nodes.jet.CutNodeGen"]
         ["main/mood/lib/dec" "net.frodwith.jaque.truffle.nodes.jet.DecNodeGen"]
         ["main/mood/lib/dis" "net.frodwith.jaque.truffle.nodes.jet.DisNodeGen"]
         ["main/mood/lib/div" "net.frodwith.jaque.truffle.nodes.jet.DivNodeGen"]
         ["main/mood/lib/dvr" "net.frodwith.jaque.truffle.nodes.jet.DvrNodeGen"]
         ["main/mood/lib/end" "net.frodwith.jaque.truffle.nodes.jet.EndNodeGen"]
         ["main/mood/lib/gte" "net.frodwith.jaque.truffle.nodes.jet.GteNodeGen"]
         ["main/mood/lib/gth" "net.frodwith.jaque.truffle.nodes.jet.GthNodeGen"]
         ["main/mood/lib/lsh" "net.frodwith.jaque.truffle.nodes.jet.LshNodeGen"]
         ["main/mood/lib/lte" "net.frodwith.jaque.truffle.nodes.jet.LteNodeGen"]
         ["main/mood/lib/lth" "net.frodwith.jaque.truffle.nodes.jet.LthNodeGen"]
         ["main/mood/lib/mas" "net.frodwith.jaque.truffle.nodes.jet.MasNodeGen"]
         ["main/mood/lib/met" "net.frodwith.jaque.truffle.nodes.jet.MetNodeGen"]
         ["main/mood/lib/mix" "net.frodwith.jaque.truffle.nodes.jet.MixNodeGen"]
         ["main/mood/lib/mod" "net.frodwith.jaque.truffle.nodes.jet.ModNodeGen"]
         ["main/mood/lib/mug" "net.frodwith.jaque.truffle.nodes.jet.MugNodeGen"]
         ["main/mood/lib/mul" "net.frodwith.jaque.truffle.nodes.jet.MulNodeGen"]
         ["main/mood/lib/peg" "net.frodwith.jaque.truffle.nodes.jet.PegNodeGen"]
         ["main/mood/lib/rap" "net.frodwith.jaque.truffle.nodes.jet.RapNodeGen"]
         ["main/mood/lib/rep" "net.frodwith.jaque.truffle.nodes.jet.RepNodeGen"]
         ["main/mood/lib/rip" "net.frodwith.jaque.truffle.nodes.jet.RipNodeGen"]
         ["main/mood/lib/rsh" "net.frodwith.jaque.truffle.nodes.jet.RshNodeGen"]
         ["main/mood/lib/sub" "net.frodwith.jaque.truffle.nodes.jet.SubNodeGen"]]}
