[:k151 nil
 [:mood nil
  [:hoon nil
   ;bits
   [:can "net.frodwith.jaque.truffle.jet.def.Can"]
   [:cat "net.frodwith.jaque.truffle.jet.def.Cat"]
   [:con "net.frodwith.jaque.truffle.jet.def.Con"]
   [:cut "net.frodwith.jaque.truffle.jet.def.Cut"]
   [:dis "net.frodwith.jaque.truffle.jet.def.Dis"]
   [:end "net.frodwith.jaque.truffle.jet.def.End"]
   [:lsh "net.frodwith.jaque.truffle.jet.def.Lsh"]
   [:rsh "net.frodwith.jaque.truffle.jet.def.Rsh"]
   [:met "net.frodwith.jaque.truffle.jet.def.Met"]
   [:mix "net.frodwith.jaque.truffle.jet.def.Mix"]
   [:rap "net.frodwith.jaque.truffle.jet.def.Rap"]
   [:rep "net.frodwith.jaque.truffle.jet.def.Rep"]
   [:rip "net.frodwith.jaque.truffle.jet.def.Rip"]
   ;math
   [:add "net.frodwith.jaque.truffle.jet.def.Add"]
   [:bex "net.frodwith.jaque.truffle.jet.def.Bex"]
   [:cap "net.frodwith.jaque.truffle.jet.def.Cap"]
   [:dec "net.frodwith.jaque.truffle.jet.def.Dec"]
   [:div "net.frodwith.jaque.truffle.jet.def.Div"]
   [:dvr "net.frodwith.jaque.truffle.jet.def.Dvr"]
   [:gte "net.frodwith.jaque.truffle.jet.def.Gte"]
   [:gth "net.frodwith.jaque.truffle.jet.def.Gth"]
   [:lte "net.frodwith.jaque.truffle.jet.def.Lte"]
   [:lth "net.frodwith.jaque.truffle.jet.def.Lth"]
   [:mas "net.frodwith.jaque.truffle.jet.def.Mas"]
   [:mod "net.frodwith.jaque.truffle.jet.def.Mod"]
   [:mul "net.frodwith.jaque.truffle.jet.def.Mul"]
   [:peg "net.frodwith.jaque.truffle.jet.def.Peg"]
   [:sub "net.frodwith.jaque.truffle.jet.def.Sub"]
   ;hash
   [:mug "net.frodwith.jaque.truffle.jet.def.Mug"]
   [:muk "net.frodwith.jaque.truffle.jet.def.Muk"]
   [:shal "net.frodwith.jaque.truffle.jet.def.Shal"]
   [:shan "net.frodwith.jaque.truffle.jet.def.Shan"]
   [:shay "net.frodwith.jaque.truffle.jet.def.Shay"]
   ;order
   [:vor "net.frodwith.jaque.truffle.jet.def.Vor"]
   [:gor "net.frodwith.jaque.truffle.jet.def.Gor"]
   [:dor "net.frodwith.jaque.truffle.jet.def.Dor"]
   ;nock
   [:mink "net.frodwith.jaque.truffle.jet.def.Mink"]
   [:mule "net.frodwith.jaque.truffle.jet.def.Mule"]
   ;misc
   [:trip "net.frodwith.jaque.truffle.jet.def.Trip"]
   [:lore "net.frodwith.jaque.truffle.jet.def.Lore"]
   [:loss "net.frodwith.jaque.truffle.jet.def.Loss"]
   [:jam "net.frodwith.jaque.truffle.jet.def.Jam"]
   [:cue "net.frodwith.jaque.truffle.jet.def.Cue"]

   [:ut {:burn "net.frodwith.jaque.truffle.jet.def.ut.Burn"}
    [:nest nil
     [:arms {:dext "net.frodwith.jaque.truffle.jet.def.ut.NestDext"}]]
    [:crop "net.frodwith.jaque.truffle.jet.def.ut.Crop"]
    [:find "net.frodwith.jaque.truffle.jet.def.ut.Find"]
    [:fond "net.frodwith.jaque.truffle.jet.def.ut.Fond"]
    [:fish "net.frodwith.jaque.truffle.jet.def.ut.Fish"]
    [:fuse "net.frodwith.jaque.truffle.jet.def.ut.Fuse"]
    [:mint "net.frodwith.jaque.truffle.jet.def.ut.Mint"]
    [:mull "net.frodwith.jaque.truffle.jet.def.ut.Mull"]
    [:peek "net.frodwith.jaque.truffle.jet.def.ut.Peek"]
    [:rest "net.frodwith.jaque.truffle.jet.def.ut.Rest"]]
   [:coed nil
    [:ed nil
     [:puck "net.frodwith.jaque.truffle.jet.def.crypt.EdPuck"]
     [:shar "net.frodwith.jaque.truffle.jet.def.crypt.EdShar"]
     [:sign "net.frodwith.jaque.truffle.jet.def.crypt.EdSign"]
     [:veri "net.frodwith.jaque.truffle.jet.def.crypt.EdVeri"]]]
   [:aesc nil
    [:en "net.frodwith.jaque.truffle.jet.def.crypt.AescEn"]
    [:de "net.frodwith.jaque.truffle.jet.def.crypt.AescDe"]]
   [:arvo nil
    [:aes nil
     [:cbca nil
      [:en "net.frodwith.jaque.truffle.jet.def.crypt.AesCbcaEn"]
      [:de "net.frodwith.jaque.truffle.jet.def.crypt.AesCbcaDe"]]
     [:cbcb nil
      [:en "net.frodwith.jaque.truffle.jet.def.crypt.AesCbcbEn"]
      [:de "net.frodwith.jaque.truffle.jet.def.crypt.AesCbcbDe"]]
     [:cbcc nil
      [:en "net.frodwith.jaque.truffle.jet.def.crypt.AesCbccEn"]
      [:de "net.frodwith.jaque.truffle.jet.def.crypt.AesCbccDe"]]
     [:ecba nil
      [:en "net.frodwith.jaque.truffle.jet.def.crypt.AesEcbaEn"]
      [:de "net.frodwith.jaque.truffle.jet.def.crypt.AesEcbaDe"]]
     [:ecbb nil
      [:en "net.frodwith.jaque.truffle.jet.def.crypt.AesEcbbEn"]
      [:de "net.frodwith.jaque.truffle.jet.def.crypt.AesEcbbDe"]]
     [:ecbc nil
      [:en "net.frodwith.jaque.truffle.jet.def.crypt.AesEcbcEn"]
      [:de "net.frodwith.jaque.truffle.jet.def.crypt.AesEcbcDe"]]]]]]]
