{:arms  [["k151/mood/hoon/ut/nest/arms"
          {:name "dext"}
          "net.frodwith.jaque.truffle.nodes.jet.ut.NestDextNodeGen"]
         ["k151/mood/hoon/ut"
          {:name "burn"}
          "net.frodwith.jaque.truffle.nodes.jet.ut.BurnNodeGen"]]
 :gates [;compiler
         ["k151/mood/hoon/ut/crop" "net.frodwith.jaque.truffle.nodes.jet.ut.CropNodeGen"]
         ["k151/mood/hoon/ut/find" "net.frodwith.jaque.truffle.nodes.jet.ut.FindNodeGen"]
         ["k151/mood/hoon/ut/fond" "net.frodwith.jaque.truffle.nodes.jet.ut.FondNodeGen"]
         ["k151/mood/hoon/ut/fish" "net.frodwith.jaque.truffle.nodes.jet.ut.FishNodeGen"]
         ["k151/mood/hoon/ut/fuse" "net.frodwith.jaque.truffle.nodes.jet.ut.FuseNodeGen"]
         ["k151/mood/hoon/ut/mint" "net.frodwith.jaque.truffle.nodes.jet.ut.MintNodeGen"]
         ["k151/mood/hoon/ut/mull" "net.frodwith.jaque.truffle.nodes.jet.ut.MullNodeGen"]
         ["k151/mood/hoon/ut/peek" "net.frodwith.jaque.truffle.nodes.jet.ut.PeekNodeGen"]
         ["k151/mood/hoon/ut/rest" "net.frodwith.jaque.truffle.nodes.jet.ut.RestNodeGen"]
         ;crypto
         ["k151/mood/hoon/coed/ed/puck" "net.frodwith.jaque.truffle.nodes.jet.EdPuckNodeGen"]
         ["k151/mood/hoon/coed/ed/shar" "net.frodwith.jaque.truffle.nodes.jet.EdSharNodeGen"]
         ["k151/mood/hoon/coed/ed/sign" "net.frodwith.jaque.truffle.nodes.jet.EdSignNodeGen"]
         ["k151/mood/hoon/coed/ed/veri" "net.frodwith.jaque.truffle.nodes.jet.EdVeriNodeGen"]
         ["k151/mood/hoon/aesc/en" "net.frodwith.jaque.truffle.nodes.jet.AescEnNodeGen"]
         ["k151/mood/hoon/aesc/de" "net.frodwith.jaque.truffle.nodes.jet.AescDeNodeGen"]
         ["k151/mood/hoon/zuse/aes/cbca/en" "net.frodwith.jaque.truffle.nodes.jet.AesCbcaEnNodeGen"]
         ["k151/mood/hoon/zuse/aes/cbca/de" "net.frodwith.jaque.truffle.nodes.jet.AesCbcaDeNodeGen"]
         ["k151/mood/hoon/zuse/aes/cbcb/en" "net.frodwith.jaque.truffle.nodes.jet.AesCbcbEnNodeGen"]
         ["k151/mood/hoon/zuse/aes/cbcb/de" "net.frodwith.jaque.truffle.nodes.jet.AesCbcbDeNodeGen"]
         ["k151/mood/hoon/zuse/aes/cbcc/en" "net.frodwith.jaque.truffle.nodes.jet.AesCbccEnNodeGen"]
         ["k151/mood/hoon/zuse/aes/cbcc/de" "net.frodwith.jaque.truffle.nodes.jet.AesCbccDeNodeGen"]
         ["k151/mood/hoon/zuse/aes/ecba/en" "net.frodwith.jaque.truffle.nodes.jet.AesCbcaEnNodeGen"]
         ["k151/mood/hoon/zuse/aes/ecba/de" "net.frodwith.jaque.truffle.nodes.jet.AesCbcaDeNodeGen"]
         ["k151/mood/hoon/zuse/aes/ecbb/en" "net.frodwith.jaque.truffle.nodes.jet.AesCbcbEnNodeGen"]
         ["k151/mood/hoon/zuse/aes/ecbb/de" "net.frodwith.jaque.truffle.nodes.jet.AesCbcbDeNodeGen"]
         ["k151/mood/hoon/zuse/aes/ecbc/en" "net.frodwith.jaque.truffle.nodes.jet.AesCbccEnNodeGen"]
         ["k151/mood/hoon/zuse/aes/ecbc/de" "net.frodwith.jaque.truffle.nodes.jet.AesCbccDeNodeGen"]
         ;bits
         ["k151/mood/hoon/can" "net.frodwith.jaque.truffle.nodes.jet.CanNodeGen"]
         ["k151/mood/hoon/cat" "net.frodwith.jaque.truffle.nodes.jet.CatNodeGen"]
         ["k151/mood/hoon/con" "net.frodwith.jaque.truffle.nodes.jet.ConNodeGen"]
         ["k151/mood/hoon/cut" "net.frodwith.jaque.truffle.nodes.jet.CutNodeGen"]
         ["k151/mood/hoon/dis" "net.frodwith.jaque.truffle.nodes.jet.DisNodeGen"]
         ["k151/mood/hoon/end" "net.frodwith.jaque.truffle.nodes.jet.EndNodeGen"]
         ["k151/mood/hoon/lsh" "net.frodwith.jaque.truffle.nodes.jet.LshNodeGen"]
         ["k151/mood/hoon/rsh" "net.frodwith.jaque.truffle.nodes.jet.RshNodeGen"]
         ["k151/mood/hoon/met" "net.frodwith.jaque.truffle.nodes.jet.MetNodeGen"]
         ["k151/mood/hoon/mix" "net.frodwith.jaque.truffle.nodes.jet.MixNodeGen"]
         ["k151/mood/hoon/rap" "net.frodwith.jaque.truffle.nodes.jet.RapNodeGen"]
         ["k151/mood/hoon/rep" "net.frodwith.jaque.truffle.nodes.jet.RepNodeGen"]
         ["k151/mood/hoon/rip" "net.frodwith.jaque.truffle.nodes.jet.RipNodeGen"]
         ;math
         ["k151/mood/hoon/add" "net.frodwith.jaque.truffle.nodes.jet.AddNodeGen"]
         ["k151/mood/hoon/bex" "net.frodwith.jaque.truffle.nodes.jet.BexNodeGen"]
         ["k151/mood/hoon/cap" "net.frodwith.jaque.truffle.nodes.jet.CapNodeGen"]
         ["k151/mood/hoon/dec" "net.frodwith.jaque.truffle.nodes.jet.DecNodeGen"]
         ["k151/mood/hoon/div" "net.frodwith.jaque.truffle.nodes.jet.DivNodeGen"]
         ["k151/mood/hoon/dvr" "net.frodwith.jaque.truffle.nodes.jet.DvrNodeGen"]
         ["k151/mood/hoon/gte" "net.frodwith.jaque.truffle.nodes.jet.GteNodeGen"]
         ["k151/mood/hoon/gth" "net.frodwith.jaque.truffle.nodes.jet.GthNodeGen"]
         ["k151/mood/hoon/lte" "net.frodwith.jaque.truffle.nodes.jet.LteNodeGen"]
         ["k151/mood/hoon/lth" "net.frodwith.jaque.truffle.nodes.jet.LthNodeGen"]
         ["k151/mood/hoon/mas" "net.frodwith.jaque.truffle.nodes.jet.MasNodeGen"]
         ["k151/mood/hoon/mod" "net.frodwith.jaque.truffle.nodes.jet.ModNodeGen"]
         ["k151/mood/hoon/mul" "net.frodwith.jaque.truffle.nodes.jet.MulNodeGen"]
         ["k151/mood/hoon/peg" "net.frodwith.jaque.truffle.nodes.jet.PegNodeGen"]
         ["k151/mood/hoon/sub" "net.frodwith.jaque.truffle.nodes.jet.SubNodeGen"]
         ;hash
         ["k151/mood/hoon/mug" "net.frodwith.jaque.truffle.nodes.jet.MugNodeGen"]
         ["k151/mood/hoon/muk" "net.frodwith.jaque.truffle.nodes.jet.MukNodeGen"]
         ["k151/mood/hoon/shal" "net.frodwith.jaque.truffle.nodes.jet.ShalNodeGen"]
         ["k151/mood/hoon/shan" "net.frodwith.jaque.truffle.nodes.jet.ShanNodeGen"]
         ["k151/mood/hoon/shay" "net.frodwith.jaque.truffle.nodes.jet.ShayNodeGen"]
         ;order
         ["k151/mood/hoon/vor" "net.frodwith.jaque.truffle.nodes.jet.VorNodeGen"]
         ["k151/mood/hoon/gor" "net.frodwith.jaque.truffle.nodes.jet.GorNodeGen"]
         ["k151/mood/hoon/dor" "net.frodwith.jaque.truffle.nodes.jet.DorNodeGen"]
         ;nock
         ["k151/mood/hoon/mink" "net.frodwith.jaque.truffle.nodes.jet.MinkNodeGen"]
         ["k151/mood/hoon/mule" "net.frodwith.jaque.truffle.nodes.jet.MuleNodeGen"]
         ;misc
         ["k151/mood/hoon/trip" "net.frodwith.jaque.truffle.nodes.jet.TripNodeGen"]
         ["k151/mood/hoon/jam" "net.frodwith.jaque.truffle.nodes.jet.JamNodeGen"]
         ["k151/mood/hoon/cue" "net.frodwith.jaque.truffle.nodes.jet.CueNodeGen"]
         ]}
